
.login-container {
    display: none;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}
#loginForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
#loginForm button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
#loginForm button:hover {
    background-color: #45a049;
}
.social-login {
    margin-top: 20px;
}
.social-login button {
    margin: 0 10px;
    padding: 8px;
}
.links {
    margin-top: 10px;
}
.links a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}
.login-cross-button{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.login-cross-button button{
    padding: 7px;
    background-color:rgb(239, 252, 206);;
    border: none;
}