*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    position: static;
    height: 5vw;
    background-color: #fff;
    width: 100vw;
    z-index: 9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  
  }
  
  .logo img {
    height: 71px;
    width: 175px;
  
  }
  
  .navItems {
    display: flex;
    gap: 50px;
    /* margin-right: 400px; */
    /* background-color: aqua;
      border: 1px solid black; */
    padding: 5px;
  }
  
  .navItems a {
    text-decoration: none;
    font-size: 1.15rem;
    font-family: 'Chivo', sans-serif;
    color: black;
  }
  
  .icons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 15px;
  }
  
  .icons span {
    font-size: 1rem;
  }
  
  .login log-in {
    font-size: 1rem;
    color: rgb(213, 49, 49);
    text-decoration: none;
    text-align: center;
  }
  
  /* .login:hover{
      border-bottom: 1px solid red;
  } */
  .login-box {
  
    position: absolute;
    z-index: 9;
    top: 10vh;
    right: 1vw;
    background-color: #0056b3;
  
  }
  
  .divider {
    height: 14px;
    width: 0px;
    border: 1px solid black;
  }
  
  .contactNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .call-tag {
    color: #007A5C;
  }

  /* page section-------------------------------- */
  .subject-page{
    height: 95vh;
    width: 100vw;
    background-color: rgb(221, 134, 21);
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .subject-page-data{
    height: 92vh;
    width: 90vw;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .chapter-names{
    height: 80vh;
    width: 23vw;
    background-color: #c69696;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .chapter-content{
    height: 80vh;
    width: 62vw;
    background-color: #48a1a5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }